.about-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: var(--color-2); 
    color: var(--color-text2); 
    text-align: center;
    */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-image: radial-gradient(
      at 88% 40%, rgb(242, 160, 245) 0px, transparent 85%
    ),
    radial-gradient(at 49% 30%, rgb(245, 91, 225) 0px, transparent 85%),
    radial-gradient(at 14% 26%, rgb(244, 59, 182) 0px, transparent 85%),
    radial-gradient(at 0% 64%, rgb(253, 109, 109) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 1) 0px, transparent 85%),
    radial-gradient(at 100% 99%, hsla(306, 100%, 57%, 1) 0px, transparent 85%);
    color: var(--color-text2);
    text-align: left;
    padding-left: 10%;
    
}

.about-content {
    flex: 1;  
    padding-right: 20px;
}

.about-content h1 {
    font-family: var(--font-title);
    font-size: 3rem;
    margin-bottom: 20px;
    
}

.about-content p {
    font-family: var(--font-para);
    font-size: 1.2rem;
    line-height: 1.5;
    
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 30vh;
    border-radius: 1px;
    border-color: black;
    padding-right: 3%;
  }