.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: var(--color-1);/* Pink background */
    color: var(--color-text1); /* White text */
    text-align: center; /* Center the text */
}

.home-container h1{
    font-family: var(--font-title); /* Englebert font */
    font-size: 4rem; /* 48px */
    margin-bottom: 1rem; /* 16px */
}

.home-container p{
    font-family: var(--font-subtitle); /* Roboto font */
    font-size: 1.5rem;
}

.welcome-text {
    font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

#changingFont {
    color: #fdfdfd; /* Highlighted pink color */
    font-size: 3.5rem;
    font-weight: bold;
    transition: font-family 0.5s ease; /* Smooth font transition */
}
