body {
    background-color: #4F4E68;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    perspective: 1000px;
  }
  
  .book-container {
    width: 18.5rem;
    height: 12.5rem;
    position: relative;
    transform-style: preserve-3d;
  }
  
  .book {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 3s ease-in-out;
  }
  
  .book.open {
    transform: rotateY(-180deg);
  }
  
  .cover, .page {
    position: absolute;
    width: 9.25rem;
    height: 12.5rem;
    padding: 1rem;
    box-sizing: border-box;
    transform-origin: left;
    border-radius: 5px 0 0 5px;
    box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2), 0px 0px 15px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
  }
  
  .cover {
    background-color: #36354e;
    transform: rotateY(0deg);
  }
  
  .front-cover h1 {
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-top: 4rem;
  }
  
  .back-cover {
    background-color: #36354e;
    transform: rotateY(180deg);
  }
  
  .page {
    background-color: #e9e6c4;
    transform: rotateY(0deg);
    text-align: center;
    font-size: 0.9rem;
    color: #333;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .page::before, .page::after {
    display: block;
    border-top: 1px dashed rgba(0, 0, 0, 0.3);
    content: "";
    padding-bottom: 1rem;
  }
  
  .page-1 { transform: rotateY(-10deg); }
  .page-2 { transform: rotateY(-20deg); }
  .page-3 { transform: rotateY(-30deg); }
  .page-4 { transform: rotateY(-40deg); }
  .page-5 { transform: rotateY(-50deg); }
  
  .book.open .page-1 { transform: rotateY(-180deg); }
  .book.open .page-2 { transform: rotateY(-170deg); }
  .book.open .page-3 { transform: rotateY(-160deg); }
  .book.open .page-4 { transform: rotateY(-150deg); }
  .book.open .page-5 { transform: rotateY(-140deg); }


  .object {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: float 3s ease-in-out infinite;
  }
  
  .rocket {
    background-image: url('rocket.png');
  }
  
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }